h1{color:rgb(218, 164, 243); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{color: rgb(226, 194, 242);}
p{color: rgb(178, 173, 173);}
img{align-items: center; width: 250px; height: 200px;}
